

picsum {
content:url("https://picsum.photos/200/200");
}

picsum:hover {
transition:transform 7s ease-in;
transform: scale(1.1,1.1);
}

.red {
 color:red;
}
.yellow {
 color:yellow;
}
.green {
 color:green;
}
.blue {
 color:blue;
}
.black {
 color:black;
}
.grey {
 color:grey;
}
.noselect {
user-select:none;
}

.orbitron1{
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
font-family: 'Orbitron', sans-serif;
}
.orbitron2{
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
font-family: 'Orbitron', sans-serif;
}
.orbitron3{
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
font-family: 'Orbitron', sans-serif;
}
.orbitron4{
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
font-family: 'Orbitron', sans-serif;
}
.orbitron5{
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
font-family: 'Orbitron', sans-serif;
}
.orbitron6{
 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
font-family: 'Orbitron', sans-serif;
}
.lobster{
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
font-family: 'Lobster', cursive;
}
.indie-flower {
 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
font-family: 'Indie Flower', cursive;
}
.parmanent-marker {
 @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
font-family: 'Permanent Marker', cursive;
}
.satisfy {
 @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 font-family: 'Satisfy', cursive;
}
.east-sea-dokdo {
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
font-family: 'East Sea Dokdo', cursive;
}
.luckiest-guy {
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
font-family: 'Luckiest Guy', cursive;
}
