@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

picsum {
content:url("https://picsum.photos/200/200");
}

picsum:hover {
transition:transform 7s ease-in;
transform: scale(1.1,1.1);
}

.red {
 background-color:red;
}
.yellow {
 background-color:yellow;
}
.green {
 background-color:green;
}

.time{
font-family: 'Orbitron', sans-serif;
}
